body {
  margin: 0;
  padding: 0;
  background-color: grey;
  height: 100vh;
}

canvas {
  display: block;
  margin: auto;
  background-color: black;
  image-rendering: pixelated;
}

#game-container {
  display: flex;
  width = 100%;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

#pre {
  display: block;
  width: 100%;
  height: 320px;
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
}

#game {
  display: none;
}
